<div class="search-bar">
  <%= simple_form_for :search, url: beers_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <div class="search-bar-form">
      <%= f.input :keyword, label: false, class: "input"  %>
        <button type="submit" class="button btn-search">
        Search
      </button>
    </div>
  <% end %>
</div>
