<div class="wrapper-home">
  <a href="/" src="home" target="_blank"><%= image_tag "logo.png", class:"logo" %></a>
  <div class="content">
    <h1>Searching for some nice tips on beers?</h1>
    <h2>Let's look up some good ol' brewdogs!</h2>
    <%= render "components/search_bar" %>
  </div>
  <%= image_tag "beers.png", class:"footer" %>
</div>
