<div class="container">
  <h1>Looking for some nice tips on beers?</h1>
  <h2>Try searching for a beer!</h2>
  <%= simple_form_for :search, url: beers_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :keyword, label: false, :input_html => { :style => 'width: 470px' }  %>
    <%= f.submit "Search" %>
  <% end %>
</div>
